@model Bankiru.Models.Domain.Users.VM_User
@{
    ViewBag.Title = "Архив прогнозов";
    Layout = "~/Views/Shared/Master.cshtml";

    ViewBag.metaTitle = "Архив прогнозов";
    ViewBag.metaDescription = "";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow";

    ViewBag.CurrentMenuItem = "archive";
}
@section left_top
{
    @Html.Action("_getModuleSideUserMenu", "Users", new { cur_item = ViewBag.CurrentMenuItem })
}
@section left_middle
{
    @Html.Action("_getModuleClubMembers", "Forecast", null)
}
@section right_middle
{
    @Html.Action("_getModuleClubMenu", "Forecast", new { cur_item = "none" })
    @Html.Action("_getModuleLastNews", "Home")
}
<article id="user-archive">
    <hgroup>
        <h1>@ViewBag.Title</h1>
    </hgroup>

    

</article>
