@using System.Globalization
@using Bankiru.Models.Domain.Club
@model VM_Forecast
@{
    ViewBag.metaTitle = "Прогноз. " + Model.Subject.Name;
    ViewBag.metaDescription = "";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow"; 

    ViewBag.metaRobots = "index,follow";
    
    Layout = "~/Views/Shared/Master.cshtml";
}
@section left_top
{
    @Html.Action("_getModuleClubMenu", "Forecast", new { cur_item = "forecasts" })
}
@section left_middle
{
    @Html.Action("_getModuleClubMembers", "Forecast", null)
}
@section right_middle
{
    @Html.Action("_getModuleLastNews", "Home")
}
@if (Model != null)
{ 
    <article id="forecast-detail" style="border:2px dashed #f00; padding:5px; margin:5px;">        
        <hgroup>
            <h1>
                <span>@Model.Subject.Name</span>
            </h1>
        </hgroup>
        <div class="forecast-prev-info">
                            @if(Model.ForecastDate.AddDays(-2).Date > DateTime.Now.Date)
                            {
                                <p> Принять участие в данном прогнозе Вы можете до 
                                    <time pubdate datetime="@Model.ForecastDate.ToString()">@Model.ForecastDate.AddDays(-2).ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))</time>
                                </p>
                            }
                            else
                            {
                                <p>
                                    В этом прогнозе уже нельзя принять участия. Результаты прогноза и победитель будут опубликованы на сайте 
                                    <time pubdate datetime="@Model.ForecastDate.ToString()">@Model.ForecastDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))</time>
                                </p>
                            }                            
                        </div>      
    </article>
}
