@using System.Globalization
@using Bankiru.Models.Domain.Users
@using Bankiru.Models.Domain.Club
@model VM_Forecast
@{
    Layout = "~/Views/Shared/Master.cshtml";
    
    ViewBag.metaTitle = "Прогноз. " + Model.Subject.Name;
    ViewBag.metaDescription = "";
    ViewBag.metaKeywords = "";
    ViewBag.metaRobots = "noindex, nofollow";
    
    ViewBag.CurrentMenuItem = "club";
}
@section left_top
{
    @*@Html.Action("_getModuleClubMenu", "Forecast", new { cur_item = "forecasts" })*@
}
@section left_middle
{
    @Html.Action("_getModuleClubMembers", "Forecast", null)
}
@section right_middle
{
    @Html.Action("_getModuleClubMenu", "Forecast", new { cur_item = "forecasts" })
    @Html.Action("_getModuleLastNews", "Home")
}
@Html.Action("_getModuleForecastAsHeader", "Forecast", new { cur_item = Model.Subject.Id })
@if (Model != null)
{ 
    <article id="forecast">        
        <hgroup>
            <h1 class="@Model.Subject.Alias">
                <span>@Bankiru.Models.Helpers.TextHelper.GetForecastName(Model.Subject.Id, Model.ForecastDate)</span>
            </h1>
        </hgroup>
        <div class="info">
            <div class="win-amount">Приз лучшему аналитику<br /><span>10 000 рублей</span></div>
            <div class="sponsor">Спонсор прогноза:<br /><span>ООО Известная контора</span></div>
        </div>
        <div class="users">
            <h2>Новые прогнозы</h2>
            @if (@Model.Users.Count > 0)
            {
                foreach (VM_ForecastUser user in Model.Users)
                {
                    
                }
            }
        </div>
         @*@Html.Action("_getModuleClubMenu", "Forecast", new { cur_item = "forecasts" })*@
    </article>
}
