@using Bankiru.Models.Domain
@using Bankiru.Models.Domain.Orgs
@model VM_OrgsFilters

<div id="org-filters">
    @using (Html.BeginForm("List","Orgs", FormMethod.Get))
    {
        @Html.ValidationSummary(true)        
        <div class="editor-field editor-field-title">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-field editor-field-region">
            @Html.LabelFor(model => model.RegionId)
            @Html.Action("_getRegionsDropDownList", "Orgs", new { selectedId = Model.RegionId /*== Guid.Empty ? Guid.Parse("b756fe6b-bbd3-44d5-9302-5bfcc740f46e") : Model.RegionId*/, 
           firstItem = EnumFirstDropDownItem.All, id = "RegionId" })
            @Html.ValidationMessageFor(model => model.RegionId)
        </div>
        <div class="editor-field editor-field-category">
            @Html.LabelFor(model => model.CategoryId)
            @Html.Action("_getOrgCategoriesDropDownList", "Orgs", new { selectedId = Model.CategoryId, 
           firstItem = EnumFirstDropDownItem.All, id = "CategoryId" })
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
        <div class="editor-field editor-field-active">
            @Html.LabelFor(model => model.IsActive)
            @Html.Action("_getActiveDropDownList", "Orgs", new { selectedId = Model.IsActive, 
           firstItem = EnumFirstDropDownItem.All, id = "IsActive" })
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <div class="editor-field editor-field-submit">
            <input type="submit" value="Показать" />
        </div>        
    }
</div>
