@using Bankiru.Models.Domain
@model Bankiru.Models.Domain.Orgs.VM_OrgPoint
@{
    ViewBag.Title = "Изменение дочернего объекта " + ViewBag.OrgName;
    Layout = "~/Areas/Admin/Views/Shared/MasterAdmin.cshtml";
}
@section styles {
  @Styles.Render("~/Content/admin/org_points/css")
}
<div class="back-to-list">
    @Html.Action("_backToOrgPointsList")
</div>
@{
    var attr = new Dictionary<string, object>();
    attr.Add("Id", "form-edit-org-point");    
}
<div id="org-point-editor">
    @using (Html.BeginForm("PointEdit", "Orgs", FormMethod.Post, attr))
    {
        @Html.ValidationSummary(true)            
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OrgId)
        @Html.HiddenFor(model => model.Alias)        
        <div class="editor-title">
            <div class="editor-field">
                @Html.EditorFor(model => model.IsActive) @Html.LabelFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="editor-field editor-field-alias">
                Ссылка: <span>@Model.Alias</span>
            </div>            
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>            
            <div class="editor-label">
                @Html.LabelFor(model => model.AddressDopInfo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddressDopInfo)
                @Html.ValidationMessageFor(model => model.AddressDopInfo)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Phones)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phones)
                @Html.ValidationMessageFor(model => model.Phones)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Schedule)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Schedule)
                @Html.ValidationMessageFor(model => model.Schedule)
            </div>            
        </div>
        <div class="editor-lists">
            <div class="editor-label">
                @Html.LabelFor(model => model.PointType)
            </div>
            <div class="editor-field">
                @Html.Action("_getOrgPointTypesDropDownList", "Orgs", new { selectedId = (int)Model.PointType, firstItem = EnumFirstDropDownItem.NotSelected,
                    id = "PointType" })
                @Html.ValidationMessageFor(model => model.PointType)
            </div>            
            <div class="editor-label">
                @Html.LabelFor(model => model.RegionId)
            </div>
            <div class="editor-field">
                @Html.Action("_getRegionsDropDownList", "Orgs", new { selectedId = Model.RegionId, firstItem = EnumFirstDropDownItem.NotSelected,
                    id = "RegionId" })
                @Html.ValidationMessageFor(model => model.RegionId)
            </div>
        </div>
        <div class="editor-main">
            <div class="editor-label">
                @Html.LabelFor(model => model.DopInfo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DopInfo)
                @Html.ValidationMessageFor(model => model.DopInfo)
            </div>            
        </div>                
        <div class="editor-field">
            <input type="submit" value="Сохранить" />
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#Schedule',
            language: "ru_RU",
            height: "300",
            plugins: "image imagetools code link"
        });
    </script>
}