@using System.Globalization
@using Bankiru.Models.Domain
@model Bankiru.Models.Domain.Club.VM_Forecast
<div id="forecast-closer">
    @using (Html.BeginForm("Close", "Forecast", FormMethod.Post))
    {
        @Html.ValidationSummary(true)            
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsClosed)

        <div class="editor-main">
            <p>
                Для закрытия прогноза заполните нужные поля.
            </p>
            <div class="editor-label">
                @Html.LabelFor(model => model.WinValue)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WinValue);
                @Html.ValidationMessageFor(model => model.WinValue)
            </div>
        </div>              
        <div class="editor-field">
            <input type="submit" value="Сохранить" />
        </div>
    }
</div>
@section scripts{
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#ForecastDate").datepicker({
                minDate: -20,
                maxDate: "+1M",
                dateFormat: "dd-mm-yy"
            });
        });
    </script>
}
