@using Bankiru.Models.Domain.Orgs
@model VM_Orgs
@{
    bool evel = true;
    string classEvel = "odd";
    int n = Model.PagingInfo.GetFirstNumInCurrentPage();
}
<div class="org-list">
    <table class="orgs">
        <tbody>
            <tr>
                <th class="tools"></th>
                <th class="num">№</th>
                <th class="published">А</th>
                <th class="title">Наименование организации</th>
                <th class="childs">Офисы и банкоматы</th>
                <th class="region">Регион</th>
                <th class="id">Id</th>
            </tr>
            @foreach (VM_OrgItem item in Model.Items)
            {
                <tr class="@classEvel">
                    <td class="tools">
                        <a class="del-org" data-org-name="@item.Title" href="@Url.Action("ReviewDel", "Orgs", new { id = item.Id })" title="Удалить @item.Title">
                            <img src="~/Content/system/del.png" title="Удалить @item.Title" alt="Удалить" />
                        </a>
                        <a href="@Url.Action("ReviewEdit", "Orgs", new { id = item.Id })" title="Редактировать @item.Title">
                            <img src="~/Content/system/edit.png" title="Редактировать"  alt="Редактировать" />
                        </a>
                    </td>
                    <td class="num">
                        @n.ToString()
                    </td>
                    <td class="published">
                        @if (item.IsActive)
                        {
                            <a href="@Url.Action("Disactivate", "Orgs", new { id = item.Id })" title="Активен">
                                <img src="~/Content/system/active.png" title="Активен" /></a>                            
                        }
                        else
                        {
                            <a href="@Url.Action("Activate", "Orgs", new { id = item.Id })" title="Не активен">
                                <img src="~/Content/system/disactive.png" title="Не активен" /></a>
                        }
                    </td>
                    <td class="title">
                        <a href="@Url.Action("Edit", "Orgs", new { id = item.Id })" title="">@item.Title</a>
                        <br />
                        <span class="alias">@item.Alias</span>
                        @if (item.Parent != null)
                        {
                            <br />
                            <span class="parent-org">Родительская организация:</span>
                            <br />                    
                            <a href="@Url.Action("Edit", "Orgs", new { id = item.Parent.Id })" title="">@item.Parent.Title</a>
                            <span>(@item.Parent.Region)</span>
                        }
                    </td>
                    <td class="childs">
                        @if (item.PointsCount > 0)
                        { 
                            <a href="@Url.Action("PointsList", "Orgs", new { org_id = item.Id })" title="">@item.PointsCount</a>
                        }
                        else
                        {
                            <a href="@Url.Action("PointsList", "Orgs", new { org_id = item.Id })" title="">Добавить</a>
                        }                        
                    </td>
                    <td class="region">
                        @item.Region
                    </td>
                    <td class="id">
                        @item.Id.ToString()
                    </td>
                </tr>
                        evel = !evel;
                        if (evel)
                        {
                            classEvel = "odd";
                        }
                        else
                        {
                            classEvel = "evel";
                        }
                        n++;
            }
        </tbody>
    </table>
</div>
