@model Bankiru.Models.Domain.Account.VM_UserChangePassword
@{    
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.metaTitle = "Восстановление пароля";
    ViewBag.metaRobots = "noindex,nofollow";
    ViewBag.metaDescription = "";
    ViewBag.metaKeywords = "";

    List<SelectListItem> _items = new List<SelectListItem>();
    _items.Add(new SelectListItem()
    {
        Text = " - ",
        Value = "0",
        Selected = true
    });
    _items.Add(new SelectListItem()
    {
        Text = "Мужской",
        Value = "1",
        Selected = false
    });
    _items.Add(new SelectListItem()
    {
        Text = "Женский",
        Value = "2",
        Selected = false
    });   
}
@section left_top
{
    @Html.Action("_getModuleOrgMenu", "Home", new { cur_id = -1 })
}
@section left_middle
{
    @Html.Action("_getModuleLastComments", "Home", new { show_article_link = true })
}
@section right_middle
{
    @Html.Action("_getModuleLastNews", "Home")
}
<section id="change-password">
    <hgroup>
        <h1>
            <span>Изменение пароля</span>
        </h1>        
    </hgroup>
    <div>Задайте новый пароль для входа на сайт.</div>
    <div id="change-password-block">

        @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, new { id = "form-change-password" }))
        {            
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id);
            @Html.HiddenFor(model => model.Token);
        
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)<br />
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        
            <div class="editor-label">
                @Html.LabelFor(model => model.PasswordConfirmed)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PasswordConfirmed)<br />
                @Html.ValidationMessageFor(model => model.PasswordConfirmed)
            </div> 
               
            <div class="editor-field">
                @Html.LabelFor(model => model.CaptchaCode)<br />
                <div id="captcha-block">
                    @Html.Action("_getModuleCaptchaBlock")
                </div>
                <input class="text-box single-line" data-val="true" data-val-required="Код с картинки указан не верно!" id="CaptchaCode" name="CaptchaCode" type="text" value="" autocomplete="off" maxlength="5" />
                @Html.ValidationMessageFor(model => model.CaptchaCode)
            </div>
        
            <p>
                <input id="change-password-submit" type="submit" value="Изменить пароль" />
            </p>
         
            @Html.ValidationSummary(true)   
        }

    </div>
</section>
