@using System.Globalization
@using Bankiru.Models.Domain.News
@model VM_News
@{
    if (String.IsNullOrEmpty(Model.MetaTitle))
    {
        ViewBag.metaTitle = Model.MetaTitle;
    }
    else
    {
        ViewBag.metaTitle = Model.Title;
    }
    if (String.IsNullOrEmpty(Model.MetaDesc))
    {
        ViewBag.metaDescription = "новости";
    }
    else
    {
        ViewBag.metaDescription = Model.MetaDesc;
    }
    if (String.IsNullOrEmpty(Model.MetaKeys))
    {
        ViewBag.metaKeywords = Model.MetaKeys;
    }
    else
    {
        ViewBag.metaKeywords = "новости";
    }

    ViewBag.metaRobots = "index, follow";
    
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.CurrentMenuItem = "news";
}
@section left_top
{
    @Html.Action("_getModuleOrgMenu", "Articles", new { cur_id = -1 })
    @Html.Action("_getModuleSideLeaveOrgReview", "Articles", new { url = Url.RouteUrl("org_leave_review")})
}
@section left_middle
{
    @Html.Action("_getModuleLastComments", "Articles", new { show_article_link = true})
}
@section right_middle
{
    @Html.Action("_getModuleLastNews", "Articles")
}
@if (Model != null)
{ 
    <article id="news-detail">        
        <hgroup>
            <h1>
                @Model.Title
            </h1>            
        </hgroup>
        <div class="news-info">
            <p>
                <time pubdate datetime="@Model.PublishedAt.AddHours(3)">@Model.PublishedAt.AddHours(3).ToString("dd.MM.yyyy HH:mm", CultureInfo.CreateSpecificCulture("ru-RU"))</time>                
                @Html.RouteLink("Новости", "news_items", null, new { title = "Лента новостей" })
            </p>
        </div>        
        <div class="news-text">
            @if (!String.IsNullOrEmpty(Model.PictureUrl))
            { 
                <img class="img-art-avg" src="@Model.PictureUrl" title="@Model.Title" alt="@Model.Author" />
            }
            @Html.Raw(Model.NewsText)
            @if (!String.IsNullOrEmpty(Model.NewsUrl))
            { 
                <p><a href="@Model.NewsUrl" title="@Model.Title" target="_blank" rel="nofollow">Перейти к полному описанию новости</a></p>
            }
        </div>
        <div class="news-source">
            Источник: <a href="@Model.SourceUrl" title="@Model.Author" target="_blank">@Model.Author</a>            
        </div>
    </article>
}