@model Bankiru.Models.Domain.Club.VM_ForecastCloseInfo
@{
    AjaxOptions option = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "forecast-close-block",
        LoadingElementId = "spinning-forecast-close-submit",
        Url = "/Admin/Forecast/Close",
        OnComplete = "forecast_close_success"
    };
}
@using (Ajax.BeginForm("Close", "Forecast", option, new { id = "form-forecast-close" }))
{        
    @Html.AntiForgeryToken()

    <div class="stat-block">
        <h2>Завершение прогноза</h2>
        <div class="stat-block-body">
            <div class="editor-row">

                <div class="editor-label">
                    @Html.LabelFor(model => model.NextForecastDate)
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-date="Поле Дата следующего прогноза должно содержать дату." data-val-required="Поле Дата следующего прогноза обязательно." id="NextForecastDate" name="NextForecastDate" type="date" value="@Model.NextForecastDate.ToString("yyyy-MM-dd")">
                    @Html.ValidationMessageFor(model => model.NextForecastDate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FactValue)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FactValue) руб.
                        @Html.ValidationMessageFor(model => model.FactValue)
                </div>

            </div>
            @Html.ValidationSummary(true)
            @Html.ValidationMessageFor(model => model.FactValue)
            @Html.ValidationMessageFor(model => model.NextForecastDate)
            <div class="editor-row">
                <div class="editor-field">
                    <input type="submit" value="Завершить прогноз" class="button-ok" />
                    <img src="~/Content/system/spinning.gif" title="Подождите..." class="indicator" id="spinning-forecast-close-submit" />
                </div>
            </div>
        </div>
    </div>     
}
@section scripts{
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#NextForecastDate").datepicker({
                minDate: -20,
                maxDate: "+1M",
                dateFormat: "dd-mm-yy"
            });
        });
    </script>
}