@using Bankiru.Models.Domain.Club
@using Bankiru.Models.Helpers
@model VM_Forecasts
@{
    ViewBag.Title = "Список публикаций";
    Layout = "~/Areas/Admin/Views/Shared/MasterAdmin.cshtml";
}
@section styles{
    @Styles.Render("~/Content/admin/forecasts/css")
}
@section adminTools{
    <div id="admin-tools">
        <p>@Html.ActionLink("Создать новую публикацию", "New")</p>
    </div>
}
@section scripts
{
    <script>
        $("#content .del-forecast").click(function (event) {
            if (!confirm("Вы действительно хотите удалить этот прогноз?")) {
                event.preventDefault();
            }
        });
        //Активность
        jQuery(function ($) {
            $('.active-change').click(function (e) {
                e.preventDefault();

                var itemId = $(this).attr("data-item-id");                
                var aTitle = $(this).attr("title");

                var isActive = "true";
                if (aTitle == "Активен") {
                    isActive = "false";
                }

                var imgName = '.img-active-' + itemId;
                var aName = '.a-active-' + itemId;
                var imgSrc = $(imgName).attr("src");
                $(imgName).attr("src", "/Content/system/spinning.gif");

                if (itemId != null) {
                    $.ajax({
                        url: '/Admin/Forecast/AjaxActive/' + itemId + '?is_active=' + isActive,
                        success: function (data) {
                            if (data != null) {
                                if (data.resultMessage == "OK") {
                                    if (isActive == "false") {
                                        $(imgName).attr("src", "/Content/system/disactive.png");
                                        $(imgName).attr("title", "Не активен");
                                        $(aName).attr("data-is-active", "true");
                                        $(aName).attr("title", "Не активен");
                                    }
                                    else {
                                        $(imgName).attr("src", "/Content/system/active.png");
                                        $(imgName).attr("title", "Активен");
                                        $(aName).attr("data-is-active", "false");
                                        $(aName).attr("title", "Активен");
                                    }
                                }
                                else {
                                    $(imgName).attr("src", imgSrc);
                                }
                            }
                            else {
                                $(imgName).attr("src", imgSrc);
                            };
                        },
                        type: 'Post'
                    });
                }
            })
        });
    </script>
}
@Html.Action("_getForecastListFilter", "Forecast", new { filter = Model.Filters })
@Html.Action("_getForecastList", "Forecast", new { model = Model })
@Html.PageLinks(@Model.PagingInfo, x => Url.Action("List", "Forecast", new
{
    subjectId = Model.Filters.SubjectId,    
    IsArchive = (int)Model.Filters.IsArchive,
    page = x
}))