@using System.Globalization
@using Bankiru.Models.Domain.News
@model VM_NewsList
@{
    bool evel = true;
    string classEvel = "odd";    
}
<div class="news-list">
    <table class="news">
        <tbody>
            <tr>
                <th class="tools"></th>
                <th class="published">А</th>
                <th class="title">Название новости</th>
                <th class="author">Автор</th>
                <th class="created-at">Дата создания</th>
                <th class="id">Id</th>
            </tr>
            @foreach (VM_NewsItem item in Model.Items)
            {
                <tr class="@classEvel">
                    <td class="tools">
                        <img src="~/Content/system/del.png" title="Удалить @item.Title" />&nbsp;
                        <a href="@Url.Action("Edit", "News", new { id = item.Id })" title="Редактировать @item.Title">
                            <img src="~/Content/system/edit.png" title="Редактировать" />
                        </a>
                    </td>
                    <td class="published">
                        @if (item.IsActive)
                        {
                            @*<a href="@Url.Action("Activate", "News", new { id = item.Id })" title="Активна" class="active-state" id="art_@item.Id" >*@
                                <img src="~/Content/system/active.png" title="Активна" class="active-state" id="art_@item.Id" />@*</a>*@
                        }
                        else
                        {
                            @*<a href="@Url.Action("Disactivate", "News", new { id = item.Id })" title="Не активна" class="active-state" id="art_@item.Id" >*@
                                <img src="~/Content/system/disactive.png" title="Не активна" class="active-state" id="art_@item.Id" />@*</a>*@
                        }
                        <img src="~/Content/system/spinning.gif" title="Подождите..." class="indicator" />
                    </td>
                    <td class="title">
                        <a href="@Url.Action("Edit", "News", new { id = item.Id })" title="">@item.Title</a>
                    </td>
                    <td class="author">
                        @item.Author
                    </td>
                    <td class="created-at">
                        @item.PublishedAt.AddHours(3).ToString("dd.MM.yyyy HH:mm", CultureInfo.CreateSpecificCulture("ru-RU"))
                    </td>
                    <td class="id">
                        @item.Id.ToString()
                    </td>
                </tr>
                        evel = !evel;
                        if (evel)
                        {
                            classEvel = "odd";
                        }
                        else
                        {
                            classEvel = "evel";
                        }
            }
        </tbody>
    </table>
</div>
