@using Bankiru.Models.Domain.Debtors
@using Bankiru.Models.Infrastructure
@using Bankiru.Models.Helpers
@using System.Globalization
@model Debtor

@*<div class="debtor-details">*@
    <div class="left-column">
        <div class="section-header">
            Предложение <span>№ @Model.Id</span>
        </div>
        <div class="debtor-info">
            <div><span class="field-name">Должник</span><span class="field-value">@Model.DebtorTypeName</span></div>
            <div><span class="field-name">Первоначальный кредитор</span><span class="field-value">@Model.OriginalCreditorTypeName</span></div>
            <div><span class="field-name">Регион должника</span><span class="field-value">@Model.RegionName</span></div>
            <div><span class="field-name">Населенный пункт</span><span class="field-value">@Model.Locality</span></div>
            <div><span class="field-name">Дата образования долга</span><span class="field-value">@Model.DebtCreatedDate.ToString("MMMM yyyy", GlobalParams.LocalCultureInfo)</span></div>
            <div><span class="field-name">Сущность долга</span><span class="field-value">@Model.DebtEssenceTypeName</span></div>
            <div><span class="field-name">Решение суда</span><span class="field-value">@Model.CourtDecisionTypeName</span></div>
            <div class="clear"></div>
            <div><span class="field-name">Сумма долга</span><span class="field-value">@Model.DebtAmount.ToString("C2", GlobalParams.LocalCultureInfo)</span></div>
            <div><span class="field-name sale-price">Цена продажи</span><span class="field-value sale-price">@Model.SalePrice.ToString("C2", GlobalParams.LocalCultureInfo)</span></div>
        </div>
    </div>
    <div class="right-column">
        <div class="section-header">
            Контактная информация:
        </div>
        <div class="debtor-contacts">
            <div><span>Продавец долга</span><br />@Model.DebtorTypeName</div>
            <div><span>Контактное лицо</span><br />@Model.ContactPerson</div>
            <div><span>Контакты</span><br />Телефон: @Model.ContactPhone<br />Email: @Model.Email</div>
        </div>
        <div class="section-header">
            Комментарий:
        </div>
        <div class="debtor-comment">
            @Model.Comment
        </div>
    </div>
@*</div>*@
