@using System.Globalization
@using Bankiru.Models.Domain.Orgs
@model List<VM_Review>
@{
    string ratingClass = "";
    bool needMoreLink = false;
}
@if (Model != null && Model.Count > 0)
{
    <section class="last-reviews">
        <h3>Отзывы о банках</h3>
        <div class="reviews">
            @foreach (VM_Review item in Model)
            {

                switch (item.Rating)
                {
                    case 1:
                        ratingClass = "red";
                        break;
                    case 2:
                        ratingClass = "orange";
                        break;
                    case 3:
                        ratingClass = "violet";
                        break;
                    case 4:
                        ratingClass = "navy";
                        break;
                    case 5:
                        ratingClass = "green";
                        break;
                    default:
                        ratingClass = "gray";
                        break;
                }
                <article class="review">                    
                    <div class="review-left-column">
                        <div class="review-avatar">
                            <img src="~/Content/system/avatar-anonymous.png" title="Аватарка" alt="Аватарка" />
                        </div>
                    </div>
                    <div class="review-main-column">
                        <div class="review-arrow"></div>
                        <div class="review-raiting @ratingClass">Оценка <span class="review-raiting-value">@item.Rating</span></div>
                        <p class="review-org">
                            @Html.RouteLink(item.Org.Title, "org_item", new { org_id = item.Org.Alias, cat_id = item.Org.Category.Alias },
                            new { title = "Перейти к " + item.Org.Title })
                            @if (!item.Org.Region.Equals("РФ"))
                            {
                                <span class="region">(@item.Org.Region)</span>
                            }
                        </p>
                        <p class="review-author">
                            @item.UserName (<time pubdate datetime="@item.CreatedAt.ToString()">@item.CreatedAt.ToString("dd.MM.yyyy HH:mm", CultureInfo.CreateSpecificCulture("ru-RU"))</time>)
                        </p>
                        <p class="review-text">
                            @Html.Raw(Bankiru.Models.Helpers.ConvertHelper.TextToHtmlParagraphs(item.ReviewText, 255, ref needMoreLink))
                        </p>                        
                        @if (needMoreLink)
                            { 
                                <p class="review-readmore">
                                @Html.RouteLink("Читать отзыв полностью", "org_review", new { org_id = item.Org.Alias, review_id = item.Id, 
                                    cat_id = item.Org.Category.Alias }, new { title = "Читать отзыв полностью" })
                                </p>
                            }
                    </div>
                </article>
            }
        </div>
    </section>
}