@using Bankiru.Models.Helpers
@using Bankiru.Models.Domain.Images
@model Bankiru.Models.Domain.Images.VM_ImageFolder
@{
    ViewBag.Title = "Галерея изображений";
    Layout = "~/Areas/Admin/Views/Shared/MasterAdmin.cshtml";
}
@section styles{
    @Styles.Render("~/Content/admin/images/css")
}
@section adminTools{
    <div id="admin-tools">
        @if (Model == null)
        {
            <p class="error">Вы сейчас здесь: <span>путь не определен</span></p>
        }
        else
        {
            @Html.BreadCrumbsLinks(Model.BreadCrumbs, x => Url.Action("Index", "Images", new { path = x }))
        }
    </div>
}
@Html.Action("_getImagesLoader", "Images", new {path = Model.TargetPath})
@Html.Action("_getFolderCreator", "Images", new { path = Model.TargetPath})
<div id="folder-content">
    @if(!String.IsNullOrEmpty(Model.TargetPath))
    {
        <div id="folder-up" class="image-block">
            <div class="folder-img">
                <a href="@Url.Action("Index", new { path = Model.BackPath })" title="Назад">
                    <img src="~/Content/system/folder-up.png" title="Назад" alt="Назад" />
                </a>
            </div>
            <div class="folder-name"><p>...</p></div>
        </div>
    }
    @if (Model.Folders.Count > 0)
    {
        foreach (string name in Model.Folders)
        { 
            <div class="folder image-block">
                <div class="folder-img">
                    <a href="@Url.Action("Index", new { path = Model.TargetPath + "\\" + name })" title="@name">
                        @if(name.Equals("thumbs"))
                        {
                            <img src="~/Content/system/folder-sys.png" title="@name" alt="@name" />
                        }
                        else
                        {
                            <img src="~/Content/system/folder.png" title="@name" alt="@name" />      
                        }                        
                    </a>
                </div>
                <div class="folder-name"><p>@name</p></div>
            </div>
        }
    }
    @if (Model.Files.Count > 0)
    {
        foreach (string name in Model.Files)
        { 
            <div class="file image-block">
                <div class="file-img">
                    <a href="@Url.Action("Show", new { fileName = Model.TargetPath + "\\" + name })" title="@name">
                        @if (String.IsNullOrEmpty(Model.TargetPath))
                        {
                            <img src="~/Images/@name" title="@name" alt="@name" />
                        }
                        else                        
                        {
                            <img src="~/Images/@Model.TargetPath/@name" title="@name" alt="@name" />
                        }
                    </a>
                </div>
                <div class="file-name"><p>@name</p></div>
            </div>
        }
    }
</div>