@model Bankiru.Models.Domain.Users.VM_Users
@using Bankiru.Models.Helpers
@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Areas/Admin/Views/Shared/MasterAdmin.cshtml";
}
@section styles{
    @Styles.Render("~/Content/admin/users/css")
}
@section adminTools{
    <div id="admin-tools">
        <p>@Html.ActionLink("Создать нового пользователя", "New")</p>
    </div>
}
@section scripts
{
    <script>        
        //Активность
        jQuery(function ($) {
            $('.active-change').click(function (e) {
                e.preventDefault();

                var itemId = $(this).attr("data-item-id");                
                var aTitle = $(this).attr("title");

                var isActive = "true";
                if (aTitle == "Активна") {
                    isActive = "false";
                }

                var imgName = '.img-active-' + itemId;
                var aName = '.a-active-' + itemId;
                var imgSrc = $(imgName).attr("src");
                $(imgName).attr("src", "/Content/system/spinning.gif");

                if (itemId != null) {
                    $.ajax({
                        url: '/Admin/Users/AjaxActive/' + itemId + '?is_active=' + isActive,
                        success: function (data) {
                            if (data != null) {
                                if (data.resultMessage == "OK") {
                                    if (isActive == "false") {
                                        $(imgName).attr("src", "/Content/system/disactive.png");
                                        $(imgName).attr("title", "Не активна");
                                        $(aName).attr("data-is-active", "true");
                                        $(aName).attr("title", "Не активна");
                                    }
                                    else {
                                        $(imgName).attr("src", "/Content/system/active.png");
                                        $(imgName).attr("title", "Активна");
                                        $(aName).attr("data-is-active", "false");
                                        $(aName).attr("title", "Активна");
                                    }
                                }
                                else {
                                    $(imgName).attr("src", imgSrc);
                                }
                            }
                            else {
                                $(imgName).attr("src", imgSrc);
                            };
                        },
                        type: 'Post'
                    });
                }
            })
        });
    </script>
}
@Html.Action("_getUsersListFilter", "Users", new { filter = Model.Filters })
@Html.Action("_getUsersList", "Users", new { model = Model })
@Html.PageLinks(@Model.PagingInfo, x => Url.Action("List", "Users", new
{    
    name = Model.Filters.Name,
    nic = Model.Filters.Nic,
    email = Model.Filters.Email,
    IsActive = (int)Model.Filters.IsActive,
    page = x
}))