@using Bankiru.Models.Helpers
@model string
@{
    bool isAuthorized = false;
    if (!String.IsNullOrEmpty(Bankiru.Models.Security.SessionPersister.Username))
    {
        isAuthorized = true;
    }
}
<nav id="top-menu">
    <ul>
        <li class="@Html.GetMenuItemClass("home", Model)">@Html.RouteLink("Главная", "default", new { controller = "", action = "" }, new
       {
           title = "ProBanki.net"
       })</li>
        <li class="@Html.GetMenuItemClass("statii", Model)">@Html.RouteLink("Статьи", "art_items", new { cat_id = "statii" }, new
       {
           title = "Статьи"
       })</li>
        <li class="@Html.GetMenuItemClass("intervju", Model)">@Html.RouteLink("Интервью", "art_items", new { cat_id = "intervju" }, new
       {
           title = "Интервью"
       })</li>
        <li class="@Html.GetMenuItemClass("mnenija", Model)">@Html.RouteLink("Мнения", "art_items", new { cat_id = "mnenija" }, new
       {
           title = "Мнения"
       })</li>
        <li class="@Html.GetMenuItemClass("lirika", Model)">@Html.RouteLink("Лирика", "art_items", new { cat_id = "lirika" }, new
       {
           title = "Лирика"
       })</li>
        <li class="@Html.GetMenuItemClass("orgs", Model)">@Html.RouteLink("Организации", "org_items", new { cat_id = "" }, new
       {
           title = "Организации"
       })</li>
        <li class="@Html.GetMenuItemClass("revizija", Model)">@Html.RouteLink("Ревизия", "art_items", new { cat_id = "revizija" }, new
       {
           title = "Ревизия"
       })</li>
        @if (isAuthorized)
        {
       <li class="@Html.GetMenuItemClass("club", Model)">@Html.RouteLink("Клуб", "club_forecasts", null, new
       {
            title = "Клуб"
       })</li>
        }
        <li class="@Html.GetMenuItemClass("news", Model)">@Html.RouteLink("Новости", "news_items", null, new
       {
           title = "Новости"
       })</li>
        <li class="@Html.GetMenuItemClass("rules", Model)">@Html.RouteLink("Правила сайта", "rules", null, new
       {
           title = "Правила сайта"
       })</li>
        <li class="@Html.GetMenuItemClass("feedback", Model)">@Html.RouteLink("Обратная связь", "feedback", null, new
       {
           title = "Обратная связь"
       })</li>
    </ul>
</nav>
