@model Bankiru.Models.Domain.Club.VM_TariffPaymentEmail
@{Layout = null;}
<html>
    <body>
        <h1>@String.Format("Здравствуйте, {0}!", Model.UserName)</h1>
        <p>Вы оставили заявку на продление подписки в Клубе аналитиков на сайте ProBanki.net.</p>
        Вам необходимо оплатить <strong>@Model.Sum.ToString("N") руб.</strong><br />
        Выбранный Вами тариф: <strong>@Model.Tariff</strong><br />
        Выбранный Вами период: <strong>@Model.Period</strong></p>
        <p> </p>
        <p>Наши реквизиты:</p>
        <p>Получатель: ООО "Квадрат"<br />
        ИНН 3662221245 КПП 366201001<br />
        Расчетный счет 40702810101234567890<br />
        в Воронежском филиале АО "Русский стандарт"<br />
        БИК 044525786<br />
        Корр.счет 30101810101234567890<br />
        Назначение платежа: За информационные услуги. НДС нет.<br />
        Сумма - @Model.Sum.ToString("N") рублей 00 копеек.</p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p>Если Вы не оставляли заявки на сайте ProBanki.net, просто проигнорируйте данное письмо.</p>
    </body>
</html>